{{>layouts/header}}
<h1 class="text-center">게시판 수정 화면</h1>
{{#board}}
<form class="container" action="/boards/update" method="post">
    <input name="id" type="hidden" value="{{id}}">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">닉네임</label>
        <div class="col-sm-10">
            <input type="text"  class="form-control" id="staticEmail" name="nickname" value="{{nickname}}" readonly>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">비밀번호</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/boards/{{id}}'" >뒤로가기</button>
</form>
{{/board}}
{{>layouts/footer}}