{{>layouts/header}}
<h1 class="text-center">게시판 조회 화면</h1>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary me-2" onclick="window.location.href='/boards'" >뒤로가기</button>
    <button type="button" class="btn btn-primary me-2" onclick="window.location.href='/boards/{{board.id}}/edit'" >수정하기</button>
    <button type="button" class="btn btn-danger me-2" onclick="window.location.href='/boards/{{board.id}}/delete'" >삭제하기</button>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
    </tr>
    </thead>
    <tbody>
    {{#board}}
    <tr>
        <td>#</td>
        <td>{{title}}</td>
        <td>{{nickname}}</td>
    </tr>
    {{/board}}
    </tbody>
</table>
<p class="text-center">내용</p>
<p class="border">
    <p class="text-center mb-5">{{board.content}}</p>
</p>
<hr>
<h2 class="text-center">게시글 목록</h2>
{{>posts/main}}

{{>layouts/footer}}
